{% extends 'layout.twig' %}
{% block title  post.name %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ post.name }}</h1>
            <p class="text-muted">{{ post.created_at  | ago}}</p>
            <p>
                {{ post.content | nl2br }}
            </p>
        </div>
    </div>
{% endblock %}
